# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Test
coverage/

# Prisma
prisma/*.db
prisma/*.db-journal

/generated/prisma

# Uploads
uploads/

# Firebase service account key
fin-2331b-firebase-adminsdk-fbsvc-7fe5dbda0d.json
